
// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500&subset=latin-ext');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
  background-color: #343a40;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);

  .navbar-nav {
    width: 100%;
  }

  .nav-link {
    color: rgba(255, 255, 255, .85);
    font-size: 1rem;
    font-weight: 500;

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }

  .divider {
  color: rgba(255, 255, 255, .85);
  padding-top: 7px;
  margin-left: 1.25rem;
  margin-right: .25rem;
  }
}

body, .container-fluid {
	margin: 0;
	padding: 0;
}


.alert {
  margin: 0 -15px 20px -15px;
}

.content {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.card-columns {
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: row;
  // align-content: flex-start;


  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

.card-columns .card {
    margin-bottom: 1.25rem;
    font-size: .9rem;

    .card-title {
      margin-bottom: 0;
    }

    .list-group-item {
      border: 1px solid rgba(0, 0, 0, .1)
    }
}

.animal {
  background: #fff;

  h3 {
    font-size: 1rem;
    font-weight: 500;

    a {
      color: #000;
    }
  }

  &.animal-single {
    padding: 15px; 
  }

  form {
    margin-top: 15px;
  }

  .zajawka {
    margin-top: 10px;
  }
}

.material-icons {
  position: relative;
  top: 6px;

  &.verified {
    font-size: 1.8rem;
    position: absolute;
    top: 0px;
    right: 0px;
    color: rgba(0, 144, 7, 1);
    background: rgba(255, 255, 255, .9);
    padding: 8px;
    border-radius: 0 0 0 10px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4);
  }

  &.new_releases, &.home {
    color: rgba(255, 0, 0, 1);
  }

  &.favorite {
    color: rgba(215, 35, 0, 1);
  }

  &.today, &.room {
    color: rgba(0, 0, 0, .4);
  }

  &.pets {
  top: 4px;
  }

  &.success {
    color: #009007;
  }
}

.btn {
  margin-right: 1rem;
  margin-top: 0.75rem;

  a {
  color: #fff;

    &:hover {
      text-decoration: none;
    }
  }
}

.modal-header {
  &.close {
    float:both;
  }
}

.opis {
  
  &.pelny {
    margin-top: 2rem;
  }
}

#lfm {
  color: #fff;
}

.news {
  .row {
    background: #fff;
    margin: 15px 0;
    padding: 20px 15px;
  }

  .added {
    color: rgba(0,0,0,.7);
    margin-top: 10px;
  }
}

.page {
  background: #fff;
  padding: 15px;
}

#credentials {
  margin-top: 20px;
}

.beforecontent {

  .alert {
    margin-top: 15px;
    margin-bottom: 0;
  }
}

.boxshadow {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}
.roundcorners {
    border-radius: 10px;
    overflow: hidden;
}

a:hover {
  text-decoration: none;
}